
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-collapse: collapse;
}

body{
	display: grid;
	min-height: 100vh;
	justify-items: center;
	align-items: center;
}

h1{
	line-height: 100%;
	font-size: 30px;
	text-align: center;
}